  /*
   *
   * Texto 
   */

  .mr-2 {
    color: white;
  }

  /*
   *
   * Cabecera tabla y cuerpo
   */

  th {
    color: white;
  }

  tbody,
  .tbody {
    /*color: rgb(136, 123, 123);*/
    color: white;
  }

  .table-dark {
    background: rgb(17, 17, 17);
  }


  thead {
    background-color: rgb(41, 40, 40);
  }

  .posicionItemTabla {
    text-align: center;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

   /*
   *
   * Ver producto/tarea/servicio
   */

  .margin-tittle-producto {
    margin-left: 90px;
  }

  .margin-tittle-tarea {
    margin-left: 105px;
  }

  .margin-tittle-servicio {
    margin-left: 100px;
  }

  .margin-tittle-cliente {
    margin-left: 100px;
  }

  .margin-button-producto {
    margin-left: 105px;
  }

  .margin-button-tarea {
    margin-left: 110px;
  }

  .margin-button-servicio {
    margin-left: 105px;
  }

  .margin-button-cliente {
    margin-left: 105px;
  }

  /*
   * Logo/iconos
   */

  .logo {
    animation: logo-spin infinite 5s linear;
    height: 40px;
    padding: 4px;
    margin-right: 5px;
  }
  @keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .iconos {
    height: 25px;
    padding: 3px;
    margin-top: -7px;
    margin-left: -5px;
    margin-right: 5px;
  }


  /*
   *
   *  Date Picker
   */

   .datepicker {
    width: 70%; 
    margin-left: -15px;
   }

   /*
    * Factura
    */
  
  .icono-cliente-factura {
    height: 35px;
    padding: 3px;
    margin-top: -7%;
    margin-left: -40px;
    margin-right: 5px;
    margin-bottom: -35px;
  }

  .icono-insertar,
  .icono-carrito {
    height: 28px;
    padding: -1px;
    margin-top: -5px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .separacion {
    margin-left: 5px;
  }

  .itemDatos {
    text-align: center;
  }

  .colorPrecioTotal {
    color: rgb(76, 141, 76);
  }

  /*.inputCliente input[type="text"] {
    background: rgba(0, 0, 0, .5);
    outline: none;
    display: block;
    width: 70%;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 1px;
    border-bottom: 4px solid dodgerblue;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin-top: -25px;
    margin-bottom: 20px;
    margin-top: -28px;
    transition: all .5s ease;
    line-height: normal;
  }

  .inputCliente input[type="text"]:focus {
    border-bottom: 4px solid blueviolet;
  }*/

  /*
   * Dropdown
   */

  .desplegable-factura {
    margin-left: -15px;
    width: 70%;
  }

  .desplegable-cliente {
    margin-top: -1%;
    width: 70%;
  }

  .desplegable-servicio {
    margin-top: -0%;
    width: 70%;
    margin-right: 5%;
  }

  /*
   *
   * Cantidad
   */

  .inputCantidad {
    width: 30px;
  }

  .inputAgregarCantidad {
    margin-left: 10px;
    width: 10%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
  }

  .inputRestarCantidad {
    margin-left: 10px;
    width: 10%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
  }



  /*
   *
   * Inicio Sesion
   */

  .bodyInicioSesion {
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .contLogin {
    color: #e5e5e5;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
    margin-left: 63%;
    padding: 34px 30px 30px 30px;
  }

  .inputLogin input[type="text"],
  .inputLogin input[type="password"] {
    background: rgba(0, 0, 0, .5);
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 1px;
    border-bottom: 4px solid dodgerblue;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
  }

  .inputLogin input[type="text"]:focus,
  .inputLogin input[type="password"]:focus {
    border-bottom: 4px solid blueviolet;
  }
  
  .inputLogin input[type="button"] {
    background:dodgerblue;
    color: #fff;
    width: 100%;
    padding: 10px 136px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease;
  }

  .inputLogin input[type="button"]:hover {
    background: rgba(158, 71, 209, 0.808);
  }

   /*
   *
   * Bienvenidos
   */

  .bienvenidos { 
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 3rem;
    padding: 7px;
    color:#fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    width: 100%;
  }

   /*
   *
   * Items
   */

  .items-bienvenidos {
    color: white;
  }

  .items-images {
    width: 100px;
    height: 100px;
  }

  /*.item-tarea {
    background: gold;
  }

  .item-producto {
    background: blueviolet;
  }

  .item-servicio {
    background: red;
  }

  .grupoItems {
    line-height: 130px;
  }

  .item-tarea:hover {
    background: rgb(255, 239, 22);
  }
  .item-producto:hover {
    background: rgb(191, 36, 238);
  }
  .item-servicio:hover {
    background: rgb(241, 22, 22);
  }

  /*
   * Nav
   *
   */
 
  .icono-cierre {
    height: 22px;
    padding: 3px;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 2px;
  }

  .encabezado {
    overflow: hidden;
    background: black;
    border-bottom: #fff 1px solid;
  }


  .tituloEncabezado {
    color: #fff;
    line-height: normal;
    font-weight: bold; 
    font-family:'Franklin Gothic Medium';
  }

  .navEncabezado {
    float: right;
    line-height: 50px;
  }

  .link-encabezado {
    color: #fff;
    line-height: initial;
    font-weight: bold;
    border: none;
  }


  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relativo;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  .imagen:hover {
    background: rgb(184, 180, 180);
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    padding: 7px;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  